.bio-container {
    max-width: 20rem;
    max-height: 100vh;
}

.bio-image-container {
    height: 20rem;
    width: 100%;
}

.bio-image {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
