.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $light-color;
    @include flexCenter(row);
}

.footer-list {
    list-style: none;
    @include flexCenter(row);

    li a{
        color: $dark-color;
        margin-right: .5rem;
        &:hover {
            color: $highlight-color;
        }
    }
}