.jumbotron {
    background-image: url('../images/jumbo.JPG');
    height: 20rem;
    margin-top: 0;
    background-position-y:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    margin-top: -8rem;
    position: relative;
}

.hero-container {
    height: 60vh;
    width: 100vw;
    position: relative;
    top: 0;
    z-index: -20;
    margin-top: -6.5rem;
}

.hero-image {
    width: 100vw;
    object-fit: cover;
}

.main-container {
    position: relative;
    z-index: 10;
    background-image: linear-gradient(90deg, rgb(22, 22, 22), rgb(46, 46, 46));
    padding: 1rem 0;
}

.jumbo-overlay {
    position: absolute;
    top: 50%;
    color: $dark-color;
    background-image: linear-gradient(90deg, rgba(219, 219, 219, 0.2),rgba(219, 219, 219, 1), rgba(247, 247, 247, 0.2));
    width: 100vw;
    text-align: center;
    font-size: 2.5em;
    padding: .6rem;
    text-shadow: 3px 3px 3px rgba(0,0,0,.5);
    letter-spacing: .3em;
}

.featured-songs-container {
    @include flexCenter(row);
    justify-content: space-evenly;
}

.featured-container {
    color: $primary-color;
    text-align: center;
    margin: 3rem auto;
}

.iframe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    iframe {
        margin: 1rem 0;
    }
}

.divider {
    margin: -1rem 0 2rem 0;
}

.shows-container {
    text-align: center;
    color: $primary-color;
    margin-bottom: 2rem;

    .show-table {
        max-width: 50rem;
        margin: 0 auto;
    }
}
