@media (min-width: 200px) and (max-width: 600px) {

    .navbar {
        // @include flexCenter(row);
        // justify-content: space-evenly;

        .navbar-links {
            display: none;
        }
    
        .brand-container{
            margin: 0 auto;
        }
    
        .bars-icon {
            display: block;
        }

        .empty-div {
            width: 2.5rem;
        }
    }

    .hero-container {
        height: 50vh;
    }

    .middle-container {
        height: 40vh;
    }

    .hero-image,
    .middle-image {
        height: 50vh;
    }
}