@media (min-width: 600px) and (max-width: 800px) {

    .navbar-links {
        width: 100%;
    }
    .nav-link {
        font-size: .7em;
        margin: 0;
        padding: 1rem;
    }
}

@media (min-width: 200px) and (max-width: 600px) {

    .navbar {

        .navbar-links {
            display: none;
        }
    
        .brand-container{
            margin: 0 auto;
        }
    
        .bars-icon {
            display: block;
        }

        .empty-div {
            width: 2.5rem;
        }
    }

    .hero-container {
        height: 50vh;
    }

    .middle-container {
        height: 70vh;
        margin: -4rem 0;
    }

    .hero-image,
    .middle-image {
        height: 100%;
    }

}
