.navbar {
    background: $light-color;
    width: 100vw;
    @include flexCenter(row);
}

.navbar-links {
    @include flexCenter(row);
    justify-content: space-around;
    width: 75%;
    list-style: none;
}