.navbar {  
    background-image: linear-gradient(90deg, rgb(22, 22, 22), rgb(46, 46, 46));
    background-color: $light-color;
    width: 100vw;
    @include flexCenter(row);
    padding: .5em;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);

    .navbar-links {
        @include flexCenter(row);
        justify-content: space-evenly;
        width: 75%;
        margin-left: auto;
        list-style: none;
    }

    .bars-icon {
        display: none;
        padding-right: 1rem;
    }
}

.brand-container {
    @include flexCenter(row);

    h5{
        margin: 0;
        color: $highlight-color;
    }
}
.nav-link {
    color: $light-color;
    padding: 1rem 1.5rem;

    &:hover {
        background: rgb(66, 66, 66);
        color: $light-color;
    }
}

.active {
    font-weight: bold;
    color: $light-color;
    background: $primary-color;
    border-radius: 5px;
    // background-image: linear-gradient(270deg, $highlight-color, $primary-color 70%);
}

.sidebar-link {
    color: $dark-color;
    height: 4rem;
    @include flexCenter(row);
    letter-spacing: .2em;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;

    &:hover {
        color: $dark-color;
    }
}
