.navbar {  
    background-image: linear-gradient(90deg, rgb(22, 22, 22), rgb(46, 46, 46));
    background-color: $light-color;
    width: 100vw;
    @include flexCenter(row);
    padding: .5em;

    .navbar-links {
        @include flexCenter(row);
        justify-content: space-evenly;
        width: 75%;
        margin-left: auto;
        list-style: none;
    }

    .bars-icon {
        display: none;
        padding-right: 1rem;
    }
}

.nav-link {
    color: $light-color;
    padding: 1rem 1.5rem;

    &:hover {
        background: $light-color;
        color: $dark-color;
    }
}

.active {
    font-weight: bold;
    color: $light-color;
    background: $highlight-color;
}

.sidebar-link {
    color: $dark-color;
    height: 4rem;
    @include flexCenter(row);
    letter-spacing: .2em;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;

    &:hover {
        color: $dark-color;
    }
}
