$light-color: rgb(231, 231, 231);
$dark-color: rgb(31, 31, 31);
$highlight-color: #bf157f;
$primary-color: #952e8b;


@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}


@mixin testBorder {
    border: 1px solid red;
}