@import "./variables";

@import "./home";
@import "./footer";
@import "./navbar";

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, rgb(252, 137, 143), rgb(117, 172, 255));
    height: 100vh;
    max-width: 100vw;
}